<!--order VIEW STARTS HERE -->
<!--complete logic for order view-->
<% if (title == 'Create Order') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="" method="post">
              First Name:<br>
              <input type="text" name="first_name" value="First Name">
              <br><br>
              Last Name:<br>
              <input type="text" name="last_name" value="Last Name">
              <br><br>
              Email Address:<br>
              <input type="email" name="email" value="hello@manifest.com">
              <br><br>
               Invoice No:<br>
              <input type="number" name="invoice_no" value="2345">
              <br><br>
              <input type="submit" value="Check Shipping">
            </form>
        </div>
    </div>
<% } else if (title == 'Delete Order') { %>
     
<% } else if (title == 'Update Order') { %>
    <div class="col-sm-8">    
        <div class="jumbotron">
            <form action="/blog/order/<%= order.id %>/update" method="post">
              First Name:<br>
              <input type="text" name="first_name" value="First Name">
              <br><br>
              Last Name:<br>
              <input type="text" name="last_name" value="Last Name">
              <br><br>
              Email Address:<br>
              <input type="email" name="email" value="hello@manifest.com">
              <br><br>
               Invoice No:<br>
              <input type="number" name="invoice_no" value="2345">
              <br><br>
              <input type="submit" value="Update Shipping">
            </form>
        </div>
    </div>
<% } else if (title == 'Order Details') { %>
    <div class="col-sm-8">    
        <div class="">
             <h1>Details of a Single order - <%= order.first_name %> <%= order.last_name %> </h1>
             <p>I am an order for this ID = <%= order.id %></p>
             <p>First Name: <%= order.first_name %></p>
             <p>Last Name:  <%= order.last_name %></p>
             <p>Email Address:  <%= order.email %></p>
             <p>Invoice No:  <%= order.invoice_no %></p>
             <p>Status:  <%= order.estatus%></p>
             <a href="/blog/order/<%= order.id %>/update">Edit  Order</a> | <a href="/blog/order/<%= order.id %>/delete">Delete Order</a>
        
        </div>
              
    </div>
<% } else if (title == 'Order List') { %>
    <div class="col-sm-8">    
        <div class="">
            <table class="table table-hover">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Invoice No</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Action</th>
                    
                  </tr>
                  </thead>
                    <% orders.forEach(function(order) { %>
                    <tr>
                      <td><%= order.id %></td>
                      <td><a href="/blog/order/<%= order.id %>"><%= order.first_name %> </a></td>
                      <td><a href="/blog/order/<%= order.id %>"><%= order.last_name%></td>
                      <td><a href="/blog/order/<%= order.id %>"><%= order.email%></td>
                      <td><a href="/blog/order/<%= order.id %>"><%= order.invoice_no%></td>
                      <td><a href="/blog/order/<%= order.id %>"><%= order.created_date%><% if(order.estatus == 'completed') { %></td>
                       <% } %>
                      <td><a href="/blog/order/<%= order.id %>"><%= order.estatus%></td>
                      <td>
                           
                      <% if(order.estatus === 'processing'){ %>
                      <a href="/blog/order/<%= order.id %>/update" class="btn btn-success btn-xs">Shipping</a>
                      <% } else { %><a href="/blog/order/<%= order.id %>/update" class="btn btn-primary btn-xs">Shipped</a>
                      <% }; %></td>
                    </tr>
              <% }); %>
            </tbody>
        </table>
            
    </div>
            
            
            
          <div>
              <h1>Orders Completed</h1>
          <ol>
            
             <% orders.forEach(function(order) { %>
            <% if(order.estatus == 'completed') { %>
        <li>
             <h1>Details of a Single order - <%= order.first_name %> <%= order.last_name %> </h1>
             <p>I am an order for this ID = <%= order.id %></p>
             <p>First Name: <%= order.first_name %></p>
             <p>Last Name:  <%= order.last_name %></p>
             <p>Email Address:  <%= order.email %></p>
             <p>Invoice No:  <%= order.invoice_no %></p>
             <p>Date:  <%= moment(order.createdAt).format("dddd, MMMM Do YYYY") %></p>
             <p>Status:  <%= order.estatus%></p>
             <a href="/blog/order/<%= order.id %>/update">Edit  Order</a> | <a href="/blog/order/<%= order.id %>/delete">Delete Order</a>
        
        </li>
        
        <% } else { %>
            	
            <% } %>   
                        <br/>
                    <% }); %>
        </ol>
        </div>
        
           <div>
              <h1>Orders Processing</h1>
          <ol>
            
             <% orders.forEach(function(order) { %>
            <% if(order.estatus == 'processing') { %>
        <li>
             <h1>Details of a Single order - <%= order.first_name %> <%= order.last_name %> </h1>
             <p>I am an order for this ID = <%= order.id %></p>
             <p>First Name: <%= order.first_name %></p>
             <p>Last Name:  <%= order.last_name %></p>
             <p>Email Address:  <%= order.email %></p>
             <p>Invoice No:  <%= order.invoice_no %></p>
             <p>Date:  <%= moment(order.createdAt).format("dddd, MMMM Do YYYY") %></p>
             <p>Status:  <%= order.estatus%></p>
             <a href="/blog/order/<%= order.id %>/update">Edit  Order</a> | <a href="/blog/order/<%= order.id %>/delete">Delete Order</a>
        
        </li>
        
        <% } else { %>
            	
            <% } %>   
                        <br/>
                    <% }); %>
        </ol>
        </div>
        
     
          
                   <div>
              <h1>Orders Created Today</h1>
          <ol>
            
             <% orders.forEach(function(order) { %>
             <% if(order.created_date == "02-13-2020") { %>
        <li>
             <h1>Details of a Single order - <%= order.first_name %> <%= order.last_name %> </h1>
             <p>I am an order for this ID = <%= order.id %></p>
             <p>First Name: <%= order.first_name %></p>
             <p>Last Name:  <%= order.last_name %></p>
             <p>Email Address:  <%= order.email %></p>
             <p>Invoice No:  <%= order.invoice_no %></p>
             <p>Date:  <%= moment(order.createdAt).format("dddd, MMMM Do YYYY") %></p>
             <p>Status:  <%= order.estatus%></p>
             <a href="/blog/order/<%= order.id %>/update">Edit  Order</a> | <a href="/blog/order/<%= order.id %>/delete">Delete Order</a>
        
        </li>
        
        <% } else { %>
            	
            <% } %>   
                        <br/>
                    <% }); %>
        </ol>
        </div>
        
         <div>
              <h1>Orders Created Last Week</h1>
          <ol>
            
             <% orders.forEach(function(order) { %>
             <% if(order.created_date >= '02-02-2020' && order.created_date <= '06-02-2020') { %>
        <li>
             <h1>Details of a Single order - <%= order.first_name %> <%= order.last_name %> </h1>
             <p>I am an order for this ID = <%= order.id %></p>
             <p>First Name: <%= order.first_name %></p>
             <p>Last Name:  <%= order.last_name %></p>
             <p>Email Address:  <%= order.email %></p>
             <p>Invoice No:  <%= order.invoice_no %></p>
             <p>Date:  <%= moment(order.createdAt).format("dddd, MMMM Do YYYY") %></p>
             <p>Status:  <%= order.estatus%></p>
             <a href="/blog/order/<%= order.id %>/update">Edit  Order</a> | <a href="/blog/order/<%= order.id %>/delete">Delete Order</a>
        
        </li>
        
        <% } else { %>
            	
            <% } %>   
                        <br/>
                    <% }); %>
        </ol>
        </div>
        
<% } else { %>

<% } %>
<!--order VIEW END HERE-->
<script>
    function checkCat() {
    var checkBoxes = document.getElementsByClassName( 'categoryCheckbox' );
    var isChecked = false;
    for (var i = 0; i < checkBoxes.length; i++) {
        if ( checkBoxes[i].checked ) {
            isChecked = true;
        };
    };
    if ( isChecked ) {
        
        } else {
            alert( 'Please, check at least one checkbox!' );
        }   
}
</script>